# Python exercises 1 part 1/2
The exercises are connected to the video available at: https://www.youtube.com/watch?v=M7bnYJyCx0Q from 0:00 to 1:02:20.

When writing the solutions make sure the code is clear and readable. When providing comments, follow the general principle that you should comment "why" you are doing something and not "what", the "what" is seen by the code itself.

### Add and multiply the two numbers below.

In [4]:
nr1 = 5
nr2 = 10

x = nr1 + nr2
y = nr1 * nr2
print(x)
print(y)

15
50

# Lists

### Extract the first and last element in the list.

In [243]:
l = [1, 2, 3, 10, 15, 100]

In [244]:
l[-1]
l[0]
print(l[-1])

100

### Check if the first and last number is the same in each list respectively. So, we expect the answer True in list_1 and False in list_2.

In [245]:
list_1 = [10, 20, 30, 40, 10]
list_2 = [75, 65, 35, 75, 30]

In [246]:

if(list_1[0] == list_1[-1]):
    l1 = True;
else:
    l1 = False;   

print(l1)

if(list_2[0] == list_2[-1]):
    l2 = True
else:
    l2 = False

print(l2)

True
False

### Replace the number 4567 in the list with the number 22.

In [247]:
replace_4567 = [100, 2, 4567, 5, 7]

In [248]:
replace_4567[2] = 22
print(replace_4567)

[100, 2, 22, 5, 7]

### Replace the two numbers 3 and 4 with 30 and 40 in one line of code  by using slicing.

In [249]:
replace_two_numbers = [1, 2, 3, 4, 5]

In [250]:
replace_two_numbers[3: 4] = [30, 40]
print(replace_two_numbers)

[1, 2, 3, 30, 40, 5]

### Print out the list below but in reverse order.

In [251]:
my_list = [1, 2, 3, 10, 15, 100]

In [252]:
print(my_list[::-1])

[100, 15, 10, 3, 2, 1]

### Extract the following numbers with indexing or slicing:
* The number 5 in the list within the list. 
* Extract the whole list [10, 12, 13, 5, 100].
* Extract 12, 13, 5 in the list within the list
* Extract the number 8888 with negative indexing.
* Extract 1, 2, [10, 12, 13, 5, 100].

In [253]:
list_containing_a_list = [1, 2, [10, 12, 13, 5, 100], 8888, 3, [1, 2, 3]]

In [254]:
print(list_containing_a_list[2][3])
print(list_containing_a_list[2])
print(list_containing_a_list[2][1:4])
print(list_containing_a_list[-3])
print(list_containing_a_list[:3])

5
[10, 12, 13, 5, 100]
[12, 13, 5]
8888
[1, 2, [10, 12, 13, 5, 100]]

### Append the empty list with the number 10 and the string 'Hello'. You should use the append method twice.

In [255]:
empty_list_1 = []

In [256]:

empty_list_1.append(10)
empty_list_1.append("Hello")
print(empty_list_1)

[10, 'Hello']

### Append the empty list with the number 10 and the string 'Hello'. You should use the extend method once.

In [257]:
empty_list_2 = []

In [258]:
empty_list_2.extend([10, "Hello"])
print(empty_list_2)

[10, 'Hello']

### Use list comprehension to create a new list from list_example, where each number is mulitplied by 10. You should only include the numbers between 4-8 where 4 and 8 is included.

In [259]:
list_example = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [260]:
[number*10 for number in list_example if number >= 4 and number <=8]

[40, 50, 60, 70, 80]

### Concatenate the two lists below elementwise so you get a new list ['My', 'name', 'is', 'Antonio']. Hint: use the zip function. 
Expected output: ["My", "name", "is", "Antonio"].

In [261]:
list1 = ["M", "na", "i", "Anto"]
list2 = ["y", "me", "s", "nio"]

In [262]:
[list1[i]+list2[i] for i in range(len(list1))]
[i+j for i,j in zip(list1, list2)]

['My', 'name', 'is', 'Antonio']

# Tuples

### Unpack the tuple so that we get 4 new variables.

In [263]:
my_tuple = (10, 20, 30, 40)

In [264]:
x1, x2, x3, x4 = my_tuple
print(x1, x2, x3, x4)

10 20 30 40

### Explain with your own words what the code below containing two scenarios does.

In [265]:
def f(x): 
    return (x, x**2, x**3, x**4)

# Scenario 1.
x1, x2, x3, x4 = f(2)
print(x1)
print(x2) # Squared
print(x3) # cubed
print(x4) # Forth power
print("a function that returns the four values based on x input")
print()

# Scenario 2.
x = f(3)
print(x)
print("Same thing but this time it's stored in a variable as a tuple")

2
4
8
16
a function that returns the four values based on x input

(3, 9, 27, 81)
Same thing but this time it's stored in a variable as a tuple

### Count the number of times 24 occurs in the tupple.

In [266]:
tuple_22 = 24, 2, 4, 24, 24, 5

In [267]:
count_24 = tuple_22.count(24)
print(count_24)

3

### Swap the two tuples, i.e. t1 should be replaced by t2 and vice versa.

In [268]:
t1 = ('Python', 'MATLAB')
t2 = ('R', 'Julia')

In [269]:
t1, t2 = t2, t1
print("t1: ", t1)
print("t2; ", t2)

t1:  ('R', 'Julia')
t2;  ('Python', 'MATLAB')

# Dictionaries

### We have two lists, use both of them to convert it to a dictionary. l1 should be the keys whereas l2 should be the values. Hint, use the zip function.

In [270]:
l1 = [1, 2, 3]
l2 = ['Python', 'C++', 'Java']

In [271]:
my_dictionary = dict(zip(l1,l2))
print(my_dictionary)

{1: 'Python', 2: 'C++', 3: 'Java'}

### Print out the value corresponding to the key "1".

In [272]:
dictionary = {0: 'Easy', 1: 'as', 2: 'ABC'}

In [273]:
print(dictionary[1])

as

### Explain with your own words what the code does.

In [274]:
def y(x):
  y0 = x
  y1 = x**2 #sqared
  y2 = x**3 #cubed

  return {'y0': y0, 'y1': y1 ,'y2': y2}
#This python code makes a function with input x. y0 is x, y1 is x squared and y2 is x cubed.
# After that the function returns a dictionary

In [275]:
y(3)['y1'] 
#y(2) asigns the x input to 2
#['y2'] get's the key value from the dictionary with the key 'y2'

9

# Sets

### Create a set named my_set containing the items: Python, R, MATLAB, Julia, SAS, C.

In [8]:
my_set = set(['python', 'R', 'MATLAB', 'Julia', 'SAS', 'C'])
type(my_set)

set

### Find all elements that are in atleast one of the sets.

In [9]:
set_a = {1, 2, 99}
set_b = {0, 100, 15, 765}

In [16]:
all_elements = set_a | set_b
print(all_elements)

{0, 1, 2, 99, 100, 765, 15}

### Find all the items that are in *both* lists and return those values in a list.

In [3]:
l1 = ['Python', 'R', 'MATLAB', 'Julia']
l2 = ['Python', 'Julia']

{0, 1, 2, 99, 100, 765, 15}

In [280]:
common_items = (set(l1) & set(l2))
print(common_items)

{'Julia', 'Python'}

### Find all the unique elements of the list.

In [ ]:
l = [1, 1, 2, 2, 3, 1, 2]

In [17]:
uni_elements = set(l)
print(uni_elements)

{1, 2, 3}

### Find all the elements that are in set_1 but not in set_2.

In [6]:
set_1 = {1, 2, 3, 4, 5, 6}
set_2 = set([1, 3, 4])

{1, 2, 3}

In [284]:
print(set_1 - set_2)

{2, 5, 6}

# Iteration & Loops

### Print out all the elements in the list "looping_list" with a for loop.

In [285]:
looping_list = [0, 'a', 'b', [1, 2, 3], ('Python', 'R'), 55]

In [286]:
for i in (looping_list):
    print(i)

0
a
b
[1, 2, 3]
('Python', 'R')
55

### Print out all the elements in the list "looping_list" and enumerate the iteration number.

In [287]:
looping_list = [0, 'a', 'b', [1, 2, 3], ('Python', 'R'), 55]

In [288]:
for (i,j) in enumerate(looping_list):
    print(i, j)

0 0
1 a
2 b
3 [1, 2, 3]
4 ('Python', 'R')
5 55

### Write a for loop to print out each letter in the string.

In [292]:
for_string = 'Python!'

In [296]:
for letter in for_string:
    print(letter)

P
y
t
h
o
n
!

### Write a while loop to print out each letter in the string.

In [21]:
while_string = 'Is Awesome!'

In [22]:
i = 0
while i < 1:
    print(while_string)
    i += 1

I
s

A
w
e
s
o
m
e
!

### Print the numbers 1, 2, ..., 10 with a while loop.

In [13]:
i = 0
while i <= 10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9
10

### Print out all numbers that are divisible by 5 in the list "numbers". 
Hint: Use the modulo operator %. A number is divisible by 5 if the remainder after dividing by 5 is 0.

In [14]:
numbers = [10, 20, 34, 46, 55]

In [16]:
for num in numbers:
    if num % 5 == 0:
        print(num)

10
20
55

### Print the numbers 0, 5, 10, 15, 20 with a for-loop and using the range function.

In [27]:
for i in range(0, 21, 5):
    print(i)

0
5
10
15
20

### Use a for loop to create a new list from list_example, where each number is mulitplied by 10. You should only include the numbers between 4-8 where 4 and 8 is included. (In general it is better to do this with list comprehension since it is more efficient but this is for exercise purpose.)

In [29]:
list_example = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [30]:
new_list = []

for num in list_example:
    if 4 <= num <= 8:
        new_list.append(num * 10)

print(new_list)

new_list = [num * 10 for num in list_example if 4 <= num <= 8]
print(new_list)

[40, 50, 60, 70, 80]
[40, 50, 60, 70, 80]

# Functions

### Create a function "uppercase_converter" that converts a string to uppercase. For example: uppercase_converter('hello') should return the value HELLO.

In [ ]:
greeting = "hello"
def func(greeting):
    greeting = greeting.upper()
    return (greeting)
func(greeting)

### Create a function that accepts two arguments and that returns the sum and subtraction of the numbers.

In [ ]:

def func(x, y):
    sum = x + y
    sub = x - y
    
    return sum, sub

func(5, 3)

### Create  a function that contains positional only, positional or keyword and finally keyword arguments only. Hint:
**def f(pos_only_1, /, pos_or_kwd, *, kwd_only_1)** .

In [ ]:

def f(pos_only_1, /, pos_or_kwd, *, kwd_only_1):
    print("Positional-only argument:", pos_only_1)
    print("Positional-or-keyword argument:", pos_or_kwd)
    print("Keyword-only argument:", kwd_only_1)   
    f(1, 2, kwd_only_1=3)

### Assign a different name to the function and call it through the new name.

In [59]:
def my_sum_function(x1, x2):
    return x1 + x2

my_sum_function(1,2)

3

In [61]:
new_func = my_sum_function
new_func(1, 2)

3

### Write a function f that takes three arguments. The first two are numbers whereas the third is specifying wheter you want to multiply or add them. 
Example: 

f(2, 5, 'add') = 7

f(2, 5, 'multiply') = 10

f(2, 5, 'test') should return an error (raise an exception) and print out the message: Choose either "add" or "multiply" .

In [ ]:
num = 0
def f(x, y, z):
    if z == 'add':
        return x + y
    elif z == 'multiply':
        return x * y
    
f(2, 3, 'add')

### Run the program below and explain what it does.

In [67]:
name = input('What is your name dear stranger?')

print('Mom, I met a person whos name is:', name)

Mom, I met a person whos name is: Hugo

In [ ]:
# The code above ask's the user for input and saves the input as a variable, in this case as 'name'.
# After input the code prints a message and uses the var 'name' to show your name.

# General Exercises

### Check if the strings below is a palindrome meaning that if you reverse the string it is the same. 
Example: anna reversed is still anna meaning it is a palindrome. john reversed is nhoj meaning it is not a palindrome.

In [69]:
string_1 = 'anna'
string_2 = 'john'

In [78]:
new_string_1 = string_1[::-1]
if new_string_1 == string_1:
    print(new_string_1, "is a palindrome")
    
new_string_2 = string_2[::-1]
if new_string_2 == string_2:
    print(string_2, "is a palindrome")
else:
    print(string_2, "is not a palindrome")

anna is a palindrome
john is not a palindrome

### Explain, with your own words, the difference between the two code blocks below. When would you prefer the respective method? Can you create two own examples when each method might be useful?
A good link: https://stackoverflow.com/questions/9271712/difference-between-multiple-ifs-and-elifs .

In [79]:
number = 8

In [80]:
if number < 5:
    print('Less than 5')
if number < 10:
    print('Less than 10')
if number < 100:
    print('Less than 100')
    
    
# All conditions are checked, even if earlier ones are true.
# Multiple outputs can happen.
# Use this when more than one condition can be true and all should be evaluated.

Less than 10
Less than 100

In [82]:
if number < 5:
    print('Less than 5')
elif number < 10:
    print('Less than 10')
elif number < 100:
    print('Less than 100')
    
    
# Only the first true condition runs, the rest are skipped.
# Use this when conditions are mutually exclusive

Less than 10

In [83]:
# if you match all if elements you can use only if statements

temp = 3

if temp < 10:
    print("It's cold, you should wear a hat")
if temp < 5:
    print("and wear a jacket")

It's cold, you should wear a hat
and wear a jacket

In [2]:
# If you are looking for a more specific awnser like in a grading system you should use elif

score = 85

if score >= 90:
    print("Grade: A")
elif score >= 80:
    print("Grade: B")
elif score >= 70:
    print("Grade: C")

Grade: B