# Pandas
Read "10 minutes to Pandas": https://pandas.pydata.org/docs/user_guide/10min.html before solving the exercises.
We will use the data set "cars_data" in the exercises below.

In [2]:
# Importing Pandas. 
import pandas as pd

### Explain what a CSV file is.

In [5]:
# CSV is comma seperated values and it is like a excell but every value is seperated by a comma

### Load the data set "cars_data" through Pandas.

In [46]:
# When reading in the data, either you have the data file in the same folder as your python script
# or in a seperate folder.

# Code below can be ran if you have the data file in the same folder as the script
# cars = pd.read_csv("cars_data.csv")

# Code below can be ran if you have the data file in another script. 
# Notice, you must change the path according to where you have the data in your computer. 
# pd.read_csv(r'C:\Users\Antonio Prgomet\Documents\ec_utbildning\kursframstallning\ds23\python_stat\exercises\numpy_matplot_pandas\cars_data.csv')

cars = pd.read_csv("cars_data.csv")

### Print the first 10 rows of the data.

In [43]:
cars.head()

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0

### Print the last 5 rows.

In [19]:
cars.tail()

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
56,81,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0
57,82,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0
58,86,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0
59,87,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0
60,88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0

### By using the info method, check how many non-null rows each column have.

In [25]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   index             61 non-null     int64
 1   company           61 non-null     object
 2   body-style        61 non-null     object
 3   wheel-base        61 non-null     float64
 4   length            61 non-null     float64
 5   engine-type       61 non-null     object
 6   num-of-cylinders  61 non-null     object
 7   horsepower        61 non-null     int64
 8   average-mileage   61 non-null     int64
 9   price             58 non-null     float64
dtypes: float64(3), int64(3), object(4)
memory usage: 4.9+ KB

### If any column has a missing value, drop the entire row. Notice, the operation should be inplace meaning you change the dataframe itself.

In [41]:
cars.dropna(where="null")

TypeError: DataFrame.dropna() got an unexpected keyword argument 'where'

### Calculate the mean of each numeric column.

TypeError: Could not convert ['alfa-romeroalfa-romeroalfa-romeroaudiaudiaudiaudibmwbmwbmwbmwbmwbmwchevroletchevroletchevroletdodgedodgehondahondahondaisuzuisuzuisuzujaguarjaguarjaguarmazdamazdamazdamazdamazdamercedes-benzmercedes-benzmercedes-benzmercedes-benzmitsubishimitsubishimitsubishimitsubishinissannissannissannissannissanporscheporscheporschetoyotatoyotatoyotatoyotatoyotatoyotatoyotavolkswagenvolkswagenvolkswagenvolkswagenvolvovolvo'
 'convertibleconvertiblehatchbacksedansedansedanwagonsedansedansedansedansedansedanhatchbackhatchbacksedanhatchbackhatchbackwagonsedansedansedansedansedansedansedansedanhatchbackhatchbackhatchbackhatchbacksedansedanwagonsedanhardtophatchbackhatchbacksedansedansedansedansedanwagonsedanhardtopconvertiblehatchbackhatchbackhatchbackhatchbackwagonwagonwagonwagonsedansedansedansedansedanwagon'
 'dohcdohcohcvohcohcohcohcohcohcohcohcohcohclohcohcohcohcohcohcohcohcohcohcdohcdohcohcvohcohcohcrotorohcohcohcohcvohcvohcohcohcohcohcohcohcohcohcvohcfohcfdohcvohcohcohcohcohcohcdohcohcohcohcohcohcohc'
 'fourfoursixfourfivefivefivefourfoursixsixsixsixthreefourfourfourfourfourfourfourfourfourfoursixsixtwelvefourfourfourtwofourfivefiveeighteightfourfourfourfourfourfourfourfoursixsixsixeightfourfourfourfourfourfoursixfourfourfourfourfourfour'] to numeric

### Select the rows where the column "company" is equal to 'honda'.

### Sort the data set by price in descending order. This should *not* be an inplace operation.

### Select the rows where the column "company" is equal to any of the values (audi, bmw, porsche).

### Find the number of cars (rows) for each company.

### Find the maximum price for each company.