In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
hr_data = pd.read_excel("HR_Employee_Data.xlsx")

In [5]:
hr_data.head(1)

,Emp_Id,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,IND02438,0.38,0.53,2,157,3,0,1,0,sales,low